USE [master]
GO
/****** Object:  Database [Trade]    Script Date: 14.01.2025 12:31:25 ******/
CREATE DATABASE [Trade]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Trade', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Trade.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Trade_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Trade_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Trade].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Trade]
GO
/****** Object:  Table [dbo].[LoginStatus]    Script Date: 14.01.2025 12:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginStatus](
	[id] [int] NOT NULL,
	[LoginStatus] [nvarchar](50) NULL,
 CONSTRAINT [PK_LoginStatus] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 14.01.2025 12:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[id] [int] NOT NULL,
	[Role] [nvarchar](50) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sex]    Script Date: 14.01.2025 12:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sex](
	[id] [int] NOT NULL,
	[Sex] [nvarchar](50) NULL,
 CONSTRAINT [PK_Sex] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 14.01.2025 12:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [int] NULL,
	[idRole] [int] NULL,
	[Name] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Login] [nvarchar](100) NULL,
	[Password] [nvarchar](100) NULL,
	[PhoneNumber] [nvarchar](100) NULL,
	[PassportSeries] [nvarchar](100) NULL,
	[PassportNumber] [nvarchar](100) NULL,
	[Birthday] [date] NULL,
	[LastEnter] [date] NULL,
	[idLoginStatus] [int] NULL,
	[idSex] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[LoginStatus] ([id], [LoginStatus]) VALUES (1, N'Неуспешно')
INSERT [dbo].[LoginStatus] ([id], [LoginStatus]) VALUES (2, N'Успешно ')
GO
INSERT [dbo].[Role] ([id], [Role]) VALUES (1, N'Администратор')
INSERT [dbo].[Role] ([id], [Role]) VALUES (2, N'Исполнитель')
INSERT [dbo].[Role] ([id], [Role]) VALUES (3, N'Менеджер')
GO
INSERT [dbo].[Sex] ([id], [Sex]) VALUES (1, N'ж')
INSERT [dbo].[Sex] ([id], [Sex]) VALUES (2, N'м')
GO
INSERT [dbo].[User] ([id], [idRole], [Name], [Email], [Login], [Password], [PhoneNumber], [PassportSeries], [PassportNumber], [Birthday], [LastEnter], [idLoginStatus], [idSex]) VALUES (1, 3, N'Акимов Ян Алексеевич', N'gohufreilagrau-3818@yopmail.com', N'akimovya', N'bn069Caj', N'7 817 855 837', N'2367', N'558134', CAST(N'1993-07-03' AS Date), NULL, 2, 2)
INSERT [dbo].[User] ([id], [idRole], [Name], [Email], [Login], [Password], [PhoneNumber], [PassportSeries], [PassportNumber], [Birthday], [LastEnter], [idLoginStatus], [idSex]) VALUES (2, 2, N'Гончарова Ульяна Львовна', N'xawugosune-1385@yopmail.com', N'goncharovaul', N'pW4qZhL!', N'230 906-8815', N'7101', N'669343', CAST(N'1975-06-22' AS Date), NULL, 2, 1)
INSERT [dbo].[User] ([id], [idRole], [Name], [Email], [Login], [Password], [PhoneNumber], [PassportSeries], [PassportNumber], [Birthday], [LastEnter], [idLoginStatus], [idSex]) VALUES (3, 1, N'Анохина Елизавета Матвеевна', N'leuttevitrafo1998@mail.ru', N'anochinaem', N'y6UNmaJg', N'5 554 448 316', N'3455', N'719630', CAST(N'1991-08-16' AS Date), NULL, 2, 1)
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_LoginStatus] FOREIGN KEY([idLoginStatus])
REFERENCES [dbo].[LoginStatus] ([id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_LoginStatus]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([idRole])
REFERENCES [dbo].[Role] ([id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Sex] FOREIGN KEY([idSex])
REFERENCES [dbo].[Sex] ([id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Sex]
GO
USE [master]
GO
